<%= form_for @medic do |f| %>
	<% if @medic.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@medic.errors.count, "error") %> prevented this medic from saving:</h2>
			<ul>
				<% @medic.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= f.label :name, "Nome do médico: " %>
	<%= f.text_field :name, placeholder:"Digite o nome do medico", required:"", class:"form-control" %>
	<br>
	<br>

	<%= f.label :userId, "ID único do médico: "%>
	<%= f.text_field :user_id, placeholder:"Digite o id", required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :crm, "CRM do Médico: " %>
	<%= f.text_field :crm, placeholder:"Ex: 0000/AA", 
	required:"", class:"form-control" %>
	
	<br>
	<br>

	<%= f.label :horasM, "Horarios de atendimento: " %><br>
	<%= f.text_area :horasM, placeholder:"Ex: 08:00 as 12:00 e 14:00 as 16:00", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :diasM, "Dias de atendimento: " %><br>
	<%= f.text_area :diasM, placeholder:"Ex: 2º, 3º, 4º...", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :emailM, "E-mail: " %><br>
	<%= f.text_field :emailM, placeholder:"medico@hospital.com", 
	required:"", class:"form-control" %><br>
	<%= f.label :emailM, "Confirme o E-mail: " %><br>
	<%= f.text_field :emailM_confirmation, placeholder:"medico@hospital.com", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :dadosM, "Especialidades: " %><br>
	<%= f.text_area :dadosM, placeholder:"descreva", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :cpfM, "CPF: " %>
	<%= f.text_field :cpfM, placeholder:"111.111.111-01", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :ddnM, "Data de Nascimento: " %>
	<%= f.text_field :ddnM, placeholder:"Ex: AA/AA/AAAA", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :telM, "Telefone: " %>
	<%= f.text_field :telM, placeholder:"Ex: (00) 0000 0000", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :endM, "Endereço: " %>
	<%= f.text_field :endM, placeholder:"Rua, Quadra, Lote", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :brM, "Bairro: " %>
	<%= f.text_field :brM, placeholder:"Bairro", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :cepM, "CEP: " %>
	<%= f.text_field :cepM, placeholder:"cep", 
	required:"", class:"form-control" %>

	<br>
	<br>
		
	<%= f.label :cidM, "Cidade: " %>
	<%= f.text_field :cidM, placeholder:"cidade", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :estM, "Estado: " %>
	<%= f.text_field :estM, placeholder:"estado", 
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.submit "Cadastrar", class: "btn btn-success" %>
<% end %>
