<%= form_for @medic do |f| %>
	<% if @medic.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@medic.errors.count, "error") %> prevented this medic from saving:</h2>
			<ul>
				<% @medic.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :userId, "Usuário" %><br>
	<%= f.collection_select :id, User.all, :id, :email %>
	<br>
	<br>
	<br>

	<%= f.label :crm, "CRM do Médico: " %>
	<%= f.text_field :crm, placeholder:"Ex: 0000/AA",
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :horasM, "Horarios de atendimento: " %><br>
	<%= f.text_area :workHours, placeholder:"Ex: 08:00 as 12:00 e 14:00 as 16:00",
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.label :diasM, "Dias de atendimento: " %><br>
	<%= f.text_area :workDays, placeholder:"Ex: 2º, 3º, 4º...",
	required:"", class:"form-control" %>


	<br>
	<br>

	<%= f.label :dadosM, "Especialidades: " %><br>
	<%= f.text_area :expertise, placeholder:"descreva",
	required:"", class:"form-control" %>

	<br>
	<br>

	<%= f.submit "Cadastrar", class: "btn btn-success" %>
<% end %>
