<%= form_for @medic do |f| %>
	<% if @medic.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@medic.errors.count, "error") %> prevented this medic from saving:</h2>
			<ul>
				<% @medic.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	
	<%= f.label :name, "Nome" %><br>
	<%= f.text_field :name, placeholder:"Digite o nome do medico", required:"", class:"form-control" %>
	<br>
	
	<br>

	<%= f.label :userId, "user id" %><br>
	<%= f.text_field :user_id, placeholder:"Digite o id", required:"", class:"form-control" %>

	<br>

	<%= f.submit "Ok", class: "btn btn-success" %>
<% end %>
