<div class="col-md-2"></div>
<div class="col-md-8">
	<div class="panel panel-default">
	  <div class="panel-heading"><%= @nurse.name %></div>
	  	<div class="panel-body">
			<p class="register_number">Nome: <%= @nurse.name %></p>

			<p class="actions">
				<%= link_to 'Editar', edit_nurse_path(@nurse), class:'btn btn-primary pull-left' %>
				<%= link_to 'Excluir', nurse_path(@nurse), method: :delete, data: { confirm: 'Are you sure?' } %>
				<%= link_to 'Index', nurses_path() %>
			</p>
		</div>
	</div>
</div>