<%= form_for @patient do |f| %>
	<% if @patient.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@patient.errors.count, "error") %> prevented this patient from saving:</h2>
			<ul>
				<% @patient.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :userId, "Usuário" %><br>
	<%= f.collection_select :id, User.all, :id, :email %>
	<br>

	<%= f.submit "Ok" %>
<% end %>
