<%= form_for @nurse do |f| %>
	<% if @nurse.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@nurse.errors.count, "error") %> prevented this nurse from saving:</h2>
			<ul>
				<% @nurse.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<br>

	<%= f.label :userId, "Usuário" %><br>
	<%= f.collection_select :id, User.all, :id, :email %>
	<br>

	<%= f.label :coren, "coren" %><br>
	<%= f.text_field :coren, placeholder:"Digite o coren", required:"", class:"form-control" %>

	<br>

	<%= f.submit "Ok", class: "btn btn-success" %>
<% end %>
